.all-meals {
  background-color: #FFFFE0;
  display: flex;
  min-height: calc(100vh - 104px);
  width: 100%;
}

.left-part {
  margin-left: 100px;
  max-width: fit-content;
}

.left-part ul {
  padding: 0;
}

.meal {
  border-top: black 2px solid;
  cursor: pointer;
  display: block;
  padding: 10px 0;
}

.meal:last-of-type {
  border-bottom: black 2px solid;
}

.meal.selected {
  background-color: #FF9947;
}

.right-part {
  align-items: center;
  background-color: #FF9947;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 18px;
  margin-right: 100px;
  margin-top: 110px;
  padding: 10px 50px;
}

.ingredients {
  text-align: center;
}